/*
Theme Name: grandaliro-theme

Author: Adam Hudák

*/

.container {
    max-width: 1240px;
    margin: auto;
    padding: 0 25px;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
  
}

.menu__btn-bar {
	background: #0F3B55;
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	transition: all 0.2s linear;
	border-radius: 25px;
}
.menu__btn-bar:nth-child(1) {
	top: 2px;
}

.menu__btn-bar:nth-child(2) {
	top: 11px;
	width: 80%;
}

.menu__btn-bar:nth-child(3) {
	top: 11px;
	width: 80%;
}

.menu__btn-bar:nth-child(4) {
	top: 20px;
}
.menu-toggle {
	display: none;
	position: absolute;
	width: 30px;
	height: 30px;
	right: 20px;
	top: 35px;
	background: transparent;
	border: 0;
	transform: translateY(-50%);
	cursor: pointer;
	padding: 0;
	outline: none !important;
	z-index: 9999;

	
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-top__wrap ul li {
    display: inline-block;
    color: #0F3B55;
    margin-left: 15px;
    font-size: 14px;
}

.header-top__wrap {
    text-align: end;
    padding: 10px 0;
}

.header-main {
    padding: 10px 0;
    position: relative;
}
.header-btn a {
    background: #73BE45;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.nav {
    display: flex;
}
a.home-btn {
    margin-right: 20px;
}



.header-top{
    background: linear-gradient(90deg, #4C758940 0, #9aa4b7f2  100%);
}

ul#primary-menu li {
    display: inline-block;
    padding: 0 10px;

}

ul#primary-menu a {
    color: #0F3B55;
    text-decoration: none;
    font-weight: 500;
}

.login:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 2px;
    left: -20px;
    z-index: 10;
    background: #103B55;
}

.login {
    position: relative;
    margin-left: 30px !important;
}




.hero {
    background: linear-gradient(360deg, #ffffff40 0, #8091b387 100%);
    padding: 100px 0;
    overflow: hidden;
    position: relative;
}
.hero:before {
  content: '';
    position: absolute;
    left: -20px;
    bottom: -20px;
    background: url('images/dots-2.svg');
    width: 260px;
    height: 150px;
    background-repeat: no-repeat;
    z-index: -1;
}
.hero-wrap__left {
    margin-right: 230px;
}
.hero-wrap__right {
    position: relative;
}
.hero-wrap__right:after {
    content: '';
    position: absolute;
    right: -80px;
    top: -20px;
    background: url('images/dots.svg');
    width: 260px;
    height: 150px;
    background-repeat: no-repeat;
    z-index: -1;
}
.hero-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-main__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-wrap__left p {
    font-size: 21px;
    color: #4C7589;
    line-height: 31px;
}
.hero-btn__wrap {
    color: white;
    border-radius: 5px;
    background: #73BE45;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}

.hero-wrap__left h1 {
    font-size: 41px;
    color: #0F3B55;
    line-height: 61px;
}
/* FEATURE  */
 .feature{
     background: #0F3B55;
     color: white;
     padding: 60px 0;
 }

 .feature-box__wrap {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.feature-box {
    width: 25%;
}
.feature-box p {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    display: flex;
}
.feature-box p i {
    margin-right: 10px;
    font-size: 30px;
}


/* PLAN  */
.plan {
    margin-bottom: 140px;
    padding-top: 50px;
}
.plan-box__wrap {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.plan-box {
    width: 18%;
    border: 2px solid #0F5D98;
    border-radius: 5px;
    padding: 25px;
    margin: 15px;
    position: relative;
}
.plan-title h4 {
    font-size: 36px;
    text-align: center;
    color: #0F3B55;
    font-weight: 500;
}

.plan-box__title {
    color: #0F5D98;
    font-size: 21px;
    margin: 0;
}

.plan-box__desc {
    font-size: 17px;
    padding-right: 35px;
    padding-bottom: 10px;
    color: #4C7589;
    line-height: 25px;
    margin: 0;
}

.plan-box__group {
    display: flex;
    align-items: baseline;
    column-gap: 20px;
    margin-bottom: 10px;
}
.plan-box__group h3 {
    font-size: 48px;
    color: #0F5D98;
    margin: 0;
}
.plan-box.important {
    background: #0F5D98;
    color: white !important;
    padding: 34px 25px;
    margin: 0px 10px;
    box-shadow: 0px 10px 40px #0f5d9870;
    position: relative;
}
.plan-box.important:before{
    content: '';
    position: absolute;
    right: -30px;
    top: -30px;
    background: url(images/circle.svg);
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    z-index: 1;
    border: 5px solid white;
    border-radius: 50px;
}
.plan-box.important h3,
.plan-box.important p,
.plan-box.important ul li {
    color: white;
}
.plan-box__group p {
    color: #0F3B55;
    font-size: 15px;
    margin-bottom: 0;
}
.plan-box__btn a {
    background: #73BE45;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    
}
.plan-box.important a {
    bottom: 35px;
}
.plan-box__btn {
    text-align: center;
    padding-top: 25px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plan-box ul li {
    color: #0F3B55;
    font-weight: 500;
    margin-bottom: 17px;
    display: flex;
}
.plan-box ul li img {
    margin-right: 10px;
}

.main-title h2{
    color:#0F3B55;
    font-size: 36px;
    text-align: center;
}
/* BENEFITS*/
.main-title h2 {
    margin-top: 80px;
    margin-bottom: 50px;
}
.benefits-box {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}
.benefits-box__content-title h3 {
    color: #73BF45;
    font-size: 30px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 10px;
}
.benefits-box__content-info p {
    color: #4C7589;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.benefits-box__img {
    width: 25%;
}
.benefits-box__img-wrap {
    padding: 50px;
    box-shadow: 0px 4px 15px #80808057;
    border-radius: 20px;
}
.benefits-box__content {
    width: 70%;
}

.benefits-box__img img {
    width: 100%;
   
}

.benefits-box__content-title,
.benefits-box__content-info {
    width: 85%;
}
.benefits-box__img-wrap {
    width: 40%;
    margin-left: auto;
}


.top-newsletter {
    background: #0F5D98;
    color: white;
    width: 60%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 35px #0f5d987a;
}
.top-newsletter__right .newsletter-input input {
    width: 300px;
}
.top-newsletter__right span {
    color: white;
    font-weight: 400;
}
.top-newsletter__left {
    width: 45%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.top-newsletter__left p {
    font-size: 20px;
    font-weight: bold;
    padding-right: 65px;
}
.top-newsletter__left i {
    color: #73BF45;
    font-size: 32px;
    background: white;
    padding: 15px;
    border-radius: 15px;
}

/* OFFERS*/
.offers-wrap__left li.active {
    color: #73BF45 !important;
}
.offers-wrap__right div:first-child {
    display: block ;
}
.offers-wrap__left {
    width: 45%;
}
.offers {
    margin-bottom: 150px;
}

.offers-wrap__right-box h4 {
    color: #73BF45;
    font-size: 24px;
    margin: 0;
}
.offers-wrap__right-box p {
    color: #4C7589;
    font-size: 17px;
    line-height: 25px;
}
.offers-wrap__left ul li {
    font-size: 19px;
    font-weight: bold;
    color: #0F3B55;
    margin-bottom: 30px;
    cursor: pointer;
}
.offers-wrap__right-box {
    display: none;
    position: absolute;
    border: 1px solid #0f3b5530;
    padding: 24px 40px;
    box-shadow: 0px 4px 15px #0f3b5540;
    border-radius: 10px;
    
}
.offers-wrap {
    display: flex;
   
   
}

.offers-title h3 {
    color: #0F3B55;
    font-size: 36px;
}
.active i {
    transform: rotate(180deg);
    transition: linear 0.2s all;
}
.offers-wrap__left i {
    margin-right: 10px;
}
.offers-btn {
    display: flex;
    justify-content: space-between;
}
.offers-btn a {
    background: #73BE45;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* CONTACT*/
.contact{
    background: rgba(76, 117, 137, 0.25);
    padding: 60px 0;
}
.contact-wrap {
    display: flex;
}
.contact-wrap__left {
    width: 45%;
}
.contact-wrap__right input {
    height: 40px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #869BAB;
        font-weight: 600;
}
.contact-input-1 input {
    width: 560px;
}
.contact-input-2 {
    width: 100%;
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
}
.contact-input-2 input {
    width: 50%;
}
.contact-input-3 {
    display: flex;
}
.contact-input-3 input {
    width: 100%;
}
.contact-input-1 {
    margin-bottom: 10px;
    display: flex;
}


.contact-checkbox input {
    height: auto;
    margin-top: 5px;
}
.contact-btn a {
    color: white;
    background: #0F5D98;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}
.contact-btn {
    margin: 30px 0;
}
.person {
    display: flex;
    align-items: center;
}

.person-info__name {
    font-size: 18px;
    color: #0F5D98;
    margin: 0;
    
}
.person-info__position {
    margin: 0;
    color: #0F5D98;
}
.person-info a {
      color: #0F5D98;
}

.footer-wrap {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 40px;
}
.footer-wrap__left img {
    width: 150px !important;
}

.newsletter p {
    color: #0F3B55;
    font-weight: 500;
}
.newsletter-input input {
    padding: 16px 24px;
    border-radius: 10px;
    border: 1px solid #869BAB;
     padding-right: 80px;
    width: 200px;
    font-weight: 600;
    color: #4D5E6B;
}
.newsletter-input a {
    background: #73BE45;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    margin: 5px;
    text-decoration: none;
   
}
span {
    color:#4C7589;
    font-weight: 500;
    font-size: 14px;
    
}
span strong{
    text-decoration: underline;
}
.newsletter-input__checkbox {
    margin-top: 6px;
}
.newsletter-input {
    position: relative;
    display: inline-block;
    
}

.copy-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.footer-wrap__left {
    width: 50%;
}

.copy-wrap__info p {
    color: #979797;
    font-size: 14px;
}

.copy-wrap__menu ul li {
    display: inline-block;
    margin-left: 10px;
    color: #979797;
    text-decoration: underline;
    font-size: 14px;
}
.nav-footer {
    margin: 70px 0;
}
ul#secondary_menu li {
    display: inline-block;
    padding: 0px 10px;
}
ul#secondary_menu{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-footer-menu-container {
    text-align: center;
}

ul#secondary_menu li a {
    font-size: 16px;
    color: #0F5D98;
}

.offers-wrap__right {
    position: relative;
    width: 50%;
}

@media (max-width: 1199px){
    .top-newsletter{
        width: 80%;
    }
    .plan-box {
        width: 39%;
        margin-bottom: 25px;
      
    }
    .hero-wrap__left {
        margin-right: 0;
    }

}
@media(max-width: 992px){
    a.home-btn {
        display: none;
    }
    .offers-btn {
        display: none;
    }
    .toggled-view {
        position: fixed;
    }
    .nav.menu-opened ul {
        display: flex !important;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: linear 0.2s all;
        transform: scale(1);
    }
    .header-main__wrap{
        display: block;
    }
    .menu-toggle{
        display: block;
    }
    .top-newsletter__right span {
        font-size: 12px;
    }
    .top-newsletter__right .newsletter-input{
        display: flex;
    }
    .top-newsletter__right {
        padding: 20px 10px;
    }

    .top-newsletter__right .newsletter-input input {
        width: 100%;
    }
    .top-newsletter__left{
        width: 100%;
        padding: 20px 10px;
    }
    .top-newsletter {
        width: 100%;
        margin: auto;
        display: block;
        padding: 0;
    }
    .offers-wrap__right{
        width: 100%;
    }
    ul#primary-menu {
    display: none;
}
    .header-btn {
        display: none;
    }
    .header-top {
        display: none;
    }
    .contact-input-1 input{
        width: 100%;
    }
    .person{
        justify-content: center;
    }
    .contact-wrap__left {
        width: 100%;
    }
    .contact-wrap {
        display: block;
    }
    .offers{
        margin-bottom: 0;
    }
    .offers-wrap__right-box{
        position: relative;
        width: auto;
        top:0;
    }
    .offers-wrap__left {
        width: 100%;
    }
    .offers-wrap {
        display: block;
    }
    .hero-wrap__right img {
        width: 100%;
        padding-top: 50px;
    }
    .hero-wrap {
        display: block;
       
    }
}


@media (max-width: 767px){
    .footer-wrap__left {
        width: 100%;
        margin: auto;
        padding-bottom: 25px;

    }
    .footer-wrap{
        display: block;
        text-align: center;
    }
    .offers-wrap__left ul li{
        margin-bottom: 20px;
    }
    ul#secondary_menu,
    ul#secondary_menu li{
        display: block;
        margin: 20px 0;
    }
    .copy-wrap{
        display: block;
        text-align: center;
    }
    .plan-box {
        width: 100%;
       
    }
    .benefits-box__content-title, .benefits-box__content-info {
        width: 100%;
    }
    .benefits-box__content {
        width: 100%;
    }
    .benefits-box__img{
        margin: auto;
    }
    .benefits-box{
        display: block;

    }
    .feature-box {
        width: 100%;
        margin-bottom: 25px;
    }


}

@media(max-width:540px){
    .main-title h2,
    .offers-title h3,
    .plan-title h4{
        font-size: 30px;
    }
    .hero-wrap__left h1 {
        font-size: 31px;
        
        line-height: 41px;
    }
    .benefits-box__img-wrap{
        width: 100%;
    }
    .benefits-box__img {
        width: 50%;
    }
    .benefits-box__img-wrap{
        padding: 0;
    }
}